@model ProductViewModel

<style>
    .product-container {
        display: flex;
        border: 1px solid darkslateblue;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        background-color: #f9f9f9;
    }

    .product-image {
        flex: 0 0 150px;  
        margin-right: 15px;
    }

        .product-image img {
            width: 100%; 
            height: 100%; 
            background-repeat:no-repeat;
            height: auto;
            border-radius: 5px;
        }

    .product-info {
        flex: 1;
    }

        .product-info h4 {
            margin: 5px 0;
        }

    .product-actions {
        margin-top: 10px;
    }

        .product-actions a {
            text-decoration: none;
            color: #007bff;
            margin-right: 10px;
        }

            .product-actions a:hover {
                text-decoration: underline;
            }
</style>

<section>
    @foreach (var i in Model.Products)
    {
        <section class="product-container">
            <div class="product-image">
                <img src="@i.ImagePath" alt="Image of @i.Name" />
            </div>
            <div class="product-info">
                <h4>Name: @i.Name</h4>
                <h4>Description: @i.Description</h4>
                <h4>Price: @i.Price</h4>
                <h4>Discount: @i.Discount</h4>
                <div class="product-actions">
                    <a asp-route-id="@i.Id" asp-controller="Home" asp-action="Update">Update</a>
                    <a asp-route-id="@i.Id" asp-controller="Home" asp-action="Delete">Delete</a>
                </div>
            </div>
        </section>
    }
</section>
